@font-face {
  font-family: 'gotham';
  src: url('fonts/gotham.woff2') format('woff2'),
       url('fonts/gotham.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  max-width: 38rem;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(21,43,35,1) 0%, rgba(5,103,65,1) 100%);
  background-repeat: no-repeat;
}

h1 {
  font-family: 'gotham';
  margin-top: 8px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 4px black;
  font-size: 60px;
  letter-spacing: 6px;
}

p {
  font-family: 'gotham';
  color: white;
  text-shadow: 3px 3px 4px black;
  font-size: 20px;
  letter-spacing: 6px;
}

.drop_1 { grid-area: 1 / 1 / 1 / 2; }
.input { grid-area: 1 / 2 / 1 / 3; }
.swap_btn { grid-area: 1 / 3 / 1 / 3; }
.drop_2 { grid-area: 2 / 1 / 2 / 2; }
.result { grid-area: 2 / 2 / 2 / 3; }
.conv_btn { grid-area: 2 / 3 / 2 / 3; }


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}
